
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: black;
    overflow: hidden;
}
canvas {
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
  }


/*body { 
    background: url(brick.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  }
 .container{
     margin: 1vw;
     color: blanchedalmond;
     font-family: 'Source Code Pro', monospace;
     font-size: 3vw;
     text-align-last: center;

 }
 #col1{
     margin-top: 5%;
 }
 #col2{
    margin-top: 10%;
}
#col3{
    margin-top: 50%;
}*/