
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: black;
    overflow: hidden;
}
canvas {
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
  }



 .container{
     margin: 1vw;
     color: blanchedalmond;
     font-family: 'Source Code Pro', monospace;
     font-size: 3vw;

 }
 #col1{
     margin-top: 5%;
     text-align: left;
 }
 #col2{
    margin-top: 10%;
    text-align-last: center;
}
#col3{

    margin-top: 55%;
    text-align: right;
}

